(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
F,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
G.alt,
Gbreve.alt,
Gcommaaccent.alt,
Gdotaccent.alt,
Gmacron.alt,
I.alt,
IJ.alt,
Iacute.alt,
Icircumflex.alt,
Idieresis.alt,
Idotaccent.alt,
Igrave.alt,
Imacron.alt,
Iogonek.alt,
Itilde.alt,
Q.alt,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcircumflex,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
ij,
imacron,
iogonek,
itilde,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
a.alt,
aacute.alt,
abreve.alt,
acaron.alt,
acircumflex.alt,
adieresis.alt,
agrave.alt,
amacron.alt,
aogonek.alt,
aring.alt,
atilde.alt,
l.alt,
lacute.alt,
lcaron.alt,
lcommaaccent.alt,
lslash.alt,
t.alt,
tcaron.alt,
tcommaaccent.alt,
f_f.liga,
f_f_t.liga,
f_t.liga,
f_liga,
ordfeminine,
ordmasculine,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.osf.zero,
zero.tf.zero,
two.dnom,
three.dnom,
four.dnom,
eight.dnom,
one.numr,
two.numr,
three.numr,
five.numr,
seven.numr,
fraction,
onefraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
CR,
NULL,
.notdef,
narrownbspace,
space,
nbspace,
thinspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
interrobang,
numbersign,
slash,
backslash,
colon.alt,
periodcentered.case,
bullet.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
uni00AD,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
at.case,
Euro,
cent,
currency,
dollar,
sterling,
yen,
cent.alt,
dollar.alt,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Omega,
Delta,
product,
summation,
radical,
mu,
partialdiff,
percent,
perthousand,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
strokeshortcomb,
strokelongcomb,
caroncomb.alt,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
)